<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pesonadelta1">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--        Maps-->
        <activity
            android:name=".ui.citytour.CityTourMaps"
            android:label="@string/title_activity_citytour_maps"
            android:parentActivityName="ui.citytour.CityTourDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pesonadelta1.ui.citytour.CityTourDetailActivity" />
        </activity>
        <activity
            android:name=".ui.citytour.CityTourDetailActivity"
            android:label="Detail CityTour"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pesonadelta1.MainActivity" />
        </activity>

        <activity
            android:name=".ui.wisata.WisataMaps"
            android:label="@string/title_activity_wisata_maps"
            android:parentActivityName="ui.wisata.WisataDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pesonadelta1.ui.wisata.WisataDetailActivity" />
        </activity>
        <activity
            android:name=".ui.wisata.WisataDetailActivity"
            android:label="Detail Wisata"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pesonadelta1.MainActivity" />
        </activity>


        <activity
            android:name=".ui.kuliner.KulinerMaps"
            android:label="@string/title_activity_kuliner_maps"
            android:parentActivityName="ui.kuliner.KulinerDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pesonadelta1.ui.kuliner.KulinerDetailActivity" />
        </activity>
        <activity
        android:name=".ui.kuliner.KulinerDetailActivity"
        android:label="Detail Kuliner"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.pesonadelta1.MainActivity" />
    </activity>

    <activity
            android:name=".ui.event.EventMaps"
            android:label="@string/title_activity_event_maps"
            android:parentActivityName="ui.event.EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.pesonadelta1.ui.event.EventDetailActivity" />
    </activity>
    <activity
        android:name=".ui.event.EventDetailActivity"
        android:label="Detail Event"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.pesonadelta1.MainActivity" />
    </activity>

        <activity
            android:name=".UserAction"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--       Website-->
        <activity
            android:name=".ui.citytour.CityTourWebsite"
            android:label="Website pendaftaran City Tour"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.citytour.CityTourDetailActivity">

        </activity>
        <activity
            android:name=".ui.wisata.WisataWebsite"
            android:label="Website Info Wisata"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.wisata.WisataDetailActivity">

        </activity>
        <activity
            android:name=".ui.kuliner.KulinerWebsite"
            android:label="Website Resep Kuliner"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.kuliner.KulinerDetailActivity">

        </activity>
        <activity
            android:name=".ui.event.EventWebsite"
            android:label="Website Event"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.event.EventDetailActivity">

        </activity>

    </application>

</manifest>